.content{
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.table{
  background-color: honeydew;
  border: 5px solid grey;
  width: 300px;
  height: 200px;
  margin: 250px auto;
  position: relative;
}

.btn-group{
  width: 50%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color:gray
}

.btn-group:hover{
  cursor: pointer;
  color: lightblue;
  background-color: white;
}

.username{
  top:0;
}
.password{
  top:20;
}